
h1 {
    color: gray;
}

button:hover {
    background-color: yellow;
    color: #000000;
}
button {
    font-size: xx-large;
    font-family: sans-serif;
    width: 250px;
    height: 100px;
    background-color: black;
    color: yellow;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-color: #000000

}
#merch {
    position: fixed;
    top: 20px;
    margin-left: 500px;
    margin-bottom: 0;
    border: solid;
}
#merch:hover {
    color: yellow;
    background-color: gray;
}

#album {
    position: fixed;
    top: 20px;
    margin-left: 750px;
    margin-bottom: 0;
    border: solid;
}
#album:hover {
    color: yellow;
    background-color: gray;
}

#tourdata {
    position: fixed;
    top: 20px;
    margin-left: 1000px;
    margin-bottom: 0;
    border: solid;
}
#tourdata:hover {
    color: yellow;
    background-color: gray;
}

#contact {
    position: fixed;
    top: 20px;
    margin-left: 1250px;
    margin-bottom: 0;
    border: solid;
}
#contact:hover {
    color: yellow;
    background-color: gray;
}
#Home {
    position: fixed;
    top: 20px;
    margin-left: 250px;
    margin-bottom: 0;
    border: solid;
}
#Home:hover {
    color: yellow;
    background-color: gray;
}
#back {
    width: 100%;
    height: 100%;
}
iframe {
position: fixed;
top: 10px;
right: 10px;
width: 500px;
height: 250px;
}
#Logo {
    position: fixed;
    top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    border: solid;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

section {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
li {
    background-color: gray;

}